<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DUETCPMConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DUETCPMConsole.Properties.Settings.LogsConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\Logs.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="LogsEntities" connectionString="metadata=res://*/LoggingLayer.LoggingModel.csdl|res://*/LoggingLayer.LoggingModel.ssdl|res://*/LoggingLayer.LoggingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\Logs.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <DUETCPMConsole.Properties.Settings>
      <setting name="DUETServerIPAddress" serializeAs="String">
        <value>192.168.0.200</value>
      </setting>
      <setting name="DUETServerPortNumber" serializeAs="String">
        <value>8010</value>
      </setting>
      <setting name="MKPassword" serializeAs="String">
        <value>2801</value>
      </setting>
      <setting name="ReaderChannel" serializeAs="String">
        <value>0</value>
      </setting>
    </DUETCPMConsole.Properties.Settings>
  </applicationSettings>
</configuration>